/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*======================*/
/*    PN INTRO FONTS    */
/*======================*/

@font-face {
  font-family: "DINPro Cond Bold"; 
  font-style: normal; 
  font-weight: bold;
  src: url('../fonts/dinpro/DINPro-CondBold.woff') format('woff2');
}

@font-face {
  font-family: "DINPro Cond Bold"; 
  font-style: italic; 
  font-weight: normal;
  src: url('../fonts/dinpro/DINPro-CondensedBoldItalic.woff') format('woff2');
}

@font-face {
  font-family: "Aktiv Grotesk"; 
  font-style: normal; 
  font-weight: 200;
  src: url('../fonts/aktivgrotesk/aktivgrotesk_lt.woff2') format('woff2'),
  url('../fonts/aktivgrotesk/aktivgrotesk_lt.woff') format('woff');
}

@font-face {
  font-family: "Aktiv Grotesk"; 
  font-style: italic; 
  font-weight: 200;
  src: url('../fonts/aktivgrotesk/AktivGroteskW06-LightItalic.woff2') format('woff2'),
  url('../fonts/aktivgrotesk/AktivGroteskW06-LightItalic.woff') format('woff');
}

@font-face {
  font-family: "Aktiv Grotesk"; 
  font-style: normal; 
  font-weight: 500;
  src: url('../fonts/aktivgrotesk/AktivGroteskW01-Medium.woff2') format('woff2'),
  url('../fonts/aktivgrotesk/AktivGroteskW01-Medium.woff') format('woff');
}


@font-face {
  font-family: "Aktiv Grotesk"; 
  font-style: normal; 
  font-weight: 700;
  src: url('../fonts/aktivgrotesk/aktivgrotesk_bd.woff2') format('woff2'),
  url('../fonts/aktivgrotesk/aktivgrotesk_bd-webfont.woff') format('woff');
}

